{% extends "layout.html" %}
{% block content %}
<form method="POST" action="" >
    <div class="content-section">
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Create an event</legend>
            <!-- professors -->
            <select required name="Professor" placeholder="Professor">
                <option value="" selected>Professors</option>
                {% for instance in professorsList %}
                    <option value="{{instance.id}}">{{instance.name}}</option>
                {% endfor %}
            </select>
            <!-- /professors -->
            <!-- students -->
            <select required name="Student" placeholder="Student">
                <option value="" selected>Students</option>
                {% for instance in studentsList %}
                    <option value="{{instance.id}}">{{instance.name}}</option>
                {% endfor %}
            </select>
            <!-- /students -->
            <!-- subjects -->
            <select required name="Subject" placeholder="Subject">
                <option value="" selected>Subjects</option>
                {% for instance in subjectsList %}
                    <option value="{{instance.id}}">{{instance.subject}}</option>
                {% endfor %}
            </select>
            <!-- /subjects -->
            <!-- time -->
            <input type="datetime-local" value="{{time}}" name="Time">
            <!-- /time -->
            <button class="btn btn-primary" type="submit">Create</button>
        </fieldset>
    </div>
{% endblock content %}
