{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" >
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="content-section">
    <form method="POST" action="" class="form-signin">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <!-- bootstrap -->
            <center><img class="mb-4" src="{{ url_for('static',filename='img/calendar.svg')}}" alt="" width="72" height="72"></center>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <!-- forms -->
             {% for field in form %}
                    <div class='form-group'>
                        {% if field.errors %}
                            {{field(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% elif field.type == 'BooleanField' %}
                            {{ field(class="remember-me") }}
                            {{ field.label(class="form-check-label") }}
                        {% elif field.type == 'SubmitField' %}
                            <!-- pass -->
                        {% else %}
                            {{ field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endfor %}
            <!-- /forms -->
            <p class="text-muted">&copy; 2018-2020</p>
            <small class="text-muted">
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </small>
            <!-- /bootstrap -->
            <!-- submit -->
            <div class='form-group'>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </div>
            <!-- /submit -->
        </fieldset>

    </form>
</div>
<div class='border-top pt-3'>
    <small class="text-muted">Don't Have An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Register</a></small>
</div>
{% endblock content %}
