{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<fieldset class="form-group">

        <a href="{{ url_for('add_professor') }}" type="button" class="btn btn-outline-primary">professor</a>
        <a href="{{ url_for('add_student') }}" type="button" class="btn btn-outline-secondary">Student</a>
        <a href="{{ url_for('add_subject') }}"type="button" class="btn btn-outline-success">Subject</a>

</div>

<script src="{{ url_for('static',filename='js/ajax.js') }}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock content %}




