{% extends "layout.html" %}
{% block content %}
<!-- professors -->
<div class="content-section">
    <form method="POST" action="" >
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Edit {{instance.name }} {{instance.last_name }}</legend>
            <!-- fields -->
            {% for formField in form %}
                <div class='form-group'>
                    {% if formField.errors %}
                        {{formField(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in formField.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% elif formField.type == 'SubmitField' %}
                    {% else %}
                        {{ formField(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% endfor %}
            <!-- /fields -->
            <button class="btn btn-primary" type="submit">Edit</button>
        </fieldset>
        <input type="hidden" name="instance_id" value="{{instance.id}}"/>
    </form>
    <div class='border-top pt-3'>
        <small class="text-muted">See all <a class="" href="{{ url_for('professors.edit_professor') }}">{{ instance.__class__.__name__}}s</a></small>
    </div>
</div>
<!-- /professors -->
{% endblock content %}
