{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <legend class='border-bottom mb-4'>Students List</legend>
{% for instance in sList %}
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">{{instance.name}} {{instance.last_name}} </h5>
            <p class="card-text">{{instance.email}}-{{instance.phone}}</p>
          <a href="{{url_for('edit_student',Student=instance.id)}}" class="card-link btn btn-outline-info">Edit</a>
          <a href="{{url_for('student',id=instance.id)}}" class="card-link btn btn-secondary">View Events</a>
        </div>
      </div>
<br>
{% endfor %}
</div>
{% endblock content %}
