{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Subject</legend>

            {% for event in eList%}
            <div class="card">
                <div class="card-body">
                    {{event.id}} - {{event.professor.name}} {{event.professor.last_name}} - {{event.student.name}} {{event.student.last_name}} - {{event.subject.subject}} - {{event.time}}
                </div>
            </div>
                
            {% endfor %}
        </fieldset>
    </div>
{% endblock content %}
