{% extends "layout.html" %}
{% block content %}
<!-- subjects -->
<div class="content-section">
    <form method="POST" action="" >
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Edit {{instance.subject }}</legend>
            <!-- fields -->
            {% for formField in form %}
                <div class='form-group'>
                    {% if formField.errors %}
                        {{formField(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in formField.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% elif formField.type == 'SubmitField' %}
                    {% else %}
                        {{ formField(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% endfor %}
            <!-- /fields -->
            <button class="btn btn-primary" type="submit">Edit</button>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </fieldset>
        <input type="hidden" name="instance_id" value="{{instance.id}}"/>
    </form>
    <div class='border-top pt-3'>
        <small class="text-muted">See all <a class="" href="{{ url_for('subjects.edit_subject') }}">{{ instance.__class__.__name__}}s</a></small>
    </div>
</div>
<!-- /subjects -->

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Subject?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Subject ID: {{ instance.id}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text">Subject Name: {{ instance.subject }}</p>

                </div>
              </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('subjects.subject_delete', subject_id=instance.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
</div>
<!-- /Modal -->
{% endblock content %}
